<form [formGroup]="form">
  <div class="form-group">
    <label for="nome">Nome: </label>
    <input id="nome" placeholder="Ex.: André Theilacker" formControlName="nome" />
  </div>

  <div class="form-group">
    <label for="descricao">Descrição: </label>
    <input id="descricao" placeholder="Ex.: André Theilacker" formControlName="descricao" />
  </div>

  <div class="form-group">
    <label for="situacao">Situação:</label>
    <select id="situacao" class="form-control" formControlName="situacao">
      <option value="">Todos</option>
      <option value="true">Aprovar</option>
      <option value="false">Reprovar</option>
    </select>
  </div>
    <button type="button" class="btn btn-primary" (click)="btnClick();">Pesquisar</button>
</form>


<p *ngIf="Solicitacao.length == 0">
  Não há nenhuma solicitação!
</p>

<ul *ngIf="Solicitacao.length !== 0">
  <li *ngFor="let solicitacao of Solicitacao">

    <p>Nome: {{ solicitacao.nome }}</p>
    <p>Descrição:{{ solicitacao.descricao }}</p>
    <p>Valor: {{ solicitacao.preco | currency:'BRL'}}.</p>
    <p>Situação: {{solicitacao.situacao?'aprovada':'reprovada'}}</p>
    <p *ngIf="solicitacao.situacao === false">
      Motivo: {{ solicitacao.observacao }}
    </p>
  </li>
</ul>