<form [formGroup]="form" role="search">
  <input id="collapsible" class="toggle" type="checkbox" />
  <label for="collapsible" class="lbl-toggle">Filtrar solicitações</label>

  <div class="collapsible-content">
    <div class="searchForm">
      <div>
        <label for="nome">Nome: </label>
        <input
          id="nome"
          class="default"
          placeholder="Ex.: André Theilacker..."
          formControlName="nome"
        />
      </div>

      <div>
        <label for="descricao">Descrição: </label>
        <input
          id="descricao"
          class="default"
          placeholder="Ex.: Pilhas AAA..."
          formControlName="descricao"
        />
      </div>

      <div>
        <label for="situacao">Situação:</label>
        <select id="situacao" class="default" formControlName="situacao">
          <option value="">Todos</option>
          <option value="true">Aprovados</option>
          <option value="false">Reprovados</option>
        </select>
      </div>

      <div class="botoes">
        <button type="button" (click)="btnClick()">Pesquisar</button>
        <button type="button" (click)="btnClean()" class="red">
          Limpar pesquisa
        </button>
      </div>
    </div>
  </div>
</form>

<aside *ngIf="Solicitacao.length == 0" role="alert">
  Não há nenhuma solicitação!
</aside>

<ul *ngIf="Solicitacao.length !== 0">
  <li class="caixa" *ngFor="let solicitacao of Solicitacao">
    <p><strong>Nome:</strong> {{ solicitacao.nome }}</p>
    <p><strong>Descrição:</strong> {{ solicitacao.descricao }}</p>
    <p><strong>Valor:</strong> {{ solicitacao.preco | currency: "BRL" }}.</p>
    <p>
      <strong>Situação:</strong>
      {{ solicitacao.situacao ? "aprovada" : "reprovada" }}
    </p>
    <p *ngIf="solicitacao.situacao === false">
      <strong>Motivo:</strong> {{ solicitacao.observacao }}
    </p>
  </li>
</ul>
