<aside *ngIf="Solicitacao.length == 0" role="alert">
  Não há nenhuma solicitação para ser analisada!
</aside>

<ul *ngIf="Solicitacao.length !== 0">
  <li *ngFor="let solicitacao of Solicitacao">
    <p><strong>Nome:</strong> {{ solicitacao.nome }}</p>
    <p><strong>Descrição:</strong> {{ solicitacao.descricao }}</p>
    <p><strong>Valor:</strong> {{ solicitacao.preco | currency: "BRL" }}.</p>
    <p><strong>Situação:</strong> em aberto</p>
    <p>
      <button routerLink="/aprovacao/{{ solicitacao.id }}">Analisar</button>
    </p>
  </li>
</ul>
