<p *ngIf="Solicitacao.length == 0">
        Não há nenhuma solicitação para ser analisada!
      </p>
      
      <ul *ngIf="Solicitacao.length !== 0">
        <li *ngFor="let solicitacao of Solicitacao">
      
          <p>Nome: {{ solicitacao.nome }}</p>
          <p>Descrição:{{ solicitacao.descricao }}</p>
          <p>Valor: {{ solicitacao.preco | currency:'BRL'}}.</p>
          <p>Situação: em aberto</p>
          <button routerLink="/aprovacao/{{solicitacao.id}}"> Analisar </button>

        </li>
       </ul>
