header {
  display: flex;
  height: 14vh;
  font-size: 12pt;
  color: #FFFFFF;
  background: #97A676;
  justify-content: space-between;
}

.titulo{
  display: flex;
  height: 100%;
  margin-left: 10px;
  align-items: center;
}

h1{
  display: inline-block;
  font-weight: bold;
  font-size: 6vw;
}

.sidebox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}

a{
  display: inline-block;
  color: #97A676;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  background: #FFFFFF;
}

a:hover{
  transition: 0.3s;
  color: #FFFFFF;
  background: rgb(236, 52, 52);
}

.hideLogout{
  display: none;
}

@media (min-width: 768px) {
  .sidebox{
    margin-right: 20px;
  }

  h1{
    font-size: 30pt;
  }
}

@media (min-width: 1024px) {
  header {
    font-size: 16pt;
  }

  .sidebox{
    margin-right: 50px;
  }

  h1{
    font-size: 32pt;
  }

  .titulo{
    margin-left: 30px;
  }
}

@media (min-width: 1280px) {
  .sidebox{
    margin-right: 100px;
  }

  header {
    font-size: 20pt;
  }
}