header {
  background: #7700FF;
}

header nav {
  justify-self: right;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  float: left;
}

header a {
  padding: 1.5em;
  text-transform: uppercase;
  font-size: .8em;
}

header &:hover {
  background: #8E2BFF;
}

header .logo {
  font-weight: bold;
}
