@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.ng-valid.ng-dirty:not(form) {
  border: solid 2px rgb(20, 200, 20);
}

.ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
  border: solid 2px rgb(200, 20, 20);
}




body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;
}

.container a {
  color: white;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
