<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="formulario">
    <h3 class="formTitulo">Avaliar solicitação</h3>

    <label for="nome">Nome</label>
    <input id="nome" formControlName="nome" />

    <label for="descricao">Descrição do item:</label>
    <input id="descricao" formControlName="descricao" />

    <label for="preco">Preço</label>
    <input
      id="preco"
      formControlName="preco"
      currencyMask
      min="0.01"
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
    />

    <label for="situacao">Aprovar/Reprovar:</label>
    <select
      id="situacao"
      formControlName="situacao"
      [ngClass]="{ 'form-submitted': formSubmitted }"
    >
      <option [ngValue]="null" disabled>Selecione...</option>
      <option value="true">Aprovar</option>
      <option value="false">Reprovar</option>
    </select>

    <label for="observacao" [hidden]="!solicitacaoNegada">Observação:</label>
    <textarea
      id="observacao"
      [hidden]="!solicitacaoNegada"
      placeholder=" Descreva o motivo da recusa..."
      formControlName="observacao"
      [ngClass]="{ 'form-submitted': formSubmitted }"
    ></textarea>

    <button type="submit">
      {{ solicitacaoNegada ? "Reprovar solicitação" : "Aprovar solicitação" }}
    </button>
  </div>
</form>
